[submodule "submodules/picotemplate"]
	path = submodules/picotemplate
	url = git://github.com/kazuho/picotemplate.git
[submodule "submodules/v8bench"]
	path = submodules/v8bench
	url = git://github.com/jsx/jsx-v8bench.git
[submodule "submodules/oktavia"]
	path = submodules/oktavia
	url = git://github.com/shibukawa/oktavia.git
[submodule "submodules/git-pushdir"]
	path = submodules/git-pushdir
	url = git://github.com/kazuho/git-pushdir.git
[submodule "submodules/nodejs.jsx"]
	path = submodules/nodejs.jsx
	url = git://github.com/jsx/nodejs.jsx.git
