# temporary files

*~
*.swp
*.zip
_builtins.js
*.log
CodeMirror-*
bootstrap/

# products

try/
doc/
bin/jsx
src/doc.jsx
src/meta.jsx

# npm-related files

npm-debug.log
package/
jsx-*.tgz

# architecture dependent files

darwin-*
linux-*

