# temporary files

.jsx
*~
*.swp
*.zip
*.log
CodeMirror-*
bootstrap/
tmp/*
!tmp/.gitkeep

# build products

try/
doc/
bin/
src/doc.jsx
src/meta.jsx

# npm-related files

npm-debug.log
package/
jsx-*.tgz
node_modules/
