.jsxdoc {
    margin: 0;
    color: #333;
    line-height: 1.5em;
}

.jsxdoc .file {
    padding: 1em 50px 1em 50px;
}

.jsxdoc h1 {
    font-size: 200%;
    margin: 0.5em 0;
    color: #336;
}

.jsxdoc h2 {
    font-size: 150%;
    font-weight: normal;
    margin: 0.5em 0;
    padding: 5px;
    color: #336;
    background-color: #cce;
}

.jsxdoc h3 {
    font-size: 110%;
    font-weight: normal;
    margin: 1.5em 0.5em 0 0;
    color: #000;
    border-bottom: dotted 1px #336;
}

.jsxdoc .class {
    margin: 0;
    padding: 1em 50px;
    border-top: 1px dotted #ccc;
}

.jsxdoc .member {
    margin: 1em 0;
}

.jsxdoc .member h3 {
    margin-left: 20px;
}

.jsxdoc .description {
    margin: 0.5em 0 0.5em 4em;
    text-align: justify;
}

.jsxdoc .arguments {
    margin: 0.5em 0 0.5em 4em;
    padding-left: 2em;
}

.jsxdoc .arguments caption {
    text-align: left;
    font-weight: normal;
}

.jsxdoc .arguments td {
    margin: 0;
    padding: 0.3em 1em;
    vertical-align: baseline;
}

.jsxdoc .arguments .param-name {
    font-family: monospace;
}

.jsxdoc .author {
    font-size: smaller;
}

.jsxdoc .version {
    font-size: smaller;
}

.jsxdoc .since {
    font-size: smaller;
}

.jsxdoc .see {
}

.jsxdoc-notice {
    font-size: smaller;
}

div#footer {
    background-color: #ccf;
}

.jsxdoc a {
    color: #669;
    text-decoration: none;
}

.jsxdoc a:hover {
    text-decoration: underline;
}
